<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Post</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>
<div th:insert="fragments/fragments :: header"> </div>
<main>
    <div th:fragment="edit" class="container">
        <form name="add" th:action="@{'/edit?id=' + ${id}}" method="post">
            <fieldset>
                <legend>Editing Post</legend>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="icon_prefix2" class="materialize-textarea" name="text" th:text="${text}"></textarea>
                                <label for="icon_prefix2">Post text</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="form-actions">
                        <button type="submit" class="btn waves-effect waves-light card-action">
                            Save
                            <i class="material-icons left">save</i>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<div th:insert="fragments/fragments :: footer"> </div>
<script type="text/javascript" src="/js/materialize.js"></script>
</body>
</html>