<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Please Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>
<div th:insert="fragments/fragments :: header"> </div>
<main>
<div th:fragment="login" class="container">

    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Login</legend>
            <div class="row">
                <div th:if="${param.error}" class="col s12">
                    <div class="card-panel red">
                        <span class="white-text">
                            <div class="alert alert-error">
                                Invalid username and password.
                            </div>
                        </span>
                    </div>
                </div>

                <div th:if="${param.logout}" class="col s12">
                    <div class="card-panel green">
                        <span class="white-text">
                            <div class="alert alert-success">
                                You have been logged out.
                            </div>
                        </span>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="username" name="username" type="text">
                    <label for="username">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password">
                    <label for="password">Password</label>
                </div>
            </div>

            <div class="row">
                <div class="form-actions">
                    <button class="btn waves-effect waves-light card-action" type="submit">
                        Log in
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</main>
<div th:insert="fragments/fragments :: footer"> </div>
<script type="text/javascript" src="/js/materialize.js"></script>
</body>
</html>